<html lang="en">
  <head>
    <meta  charset="utf-8">

    <title>4c1. ProgressBar</title>

    <meta  name="viewport" content="width=device-width, initial-scale=1">

    <link  href='./style.css' rel="stylesheet" >

  </head>

  <!-- --------------------------------------------------------------------------------- -->

  <body>

    <div class="container">     
      <div class="progress"></div>
    </div>  

   </body>

  <!-- --------------------------------------------------------------------------------- -->

  <script src='./script.js' type="text/javascript"></script> <!-- .(20924.02.3) -->

</html>
   